/*---- ACCORDIONS [components/_accordions.scss] ----*/
/*---- styles for accordion components ----*/

/*---- ACCORDION ----*/
.accordion-button {
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  border: 3px solid var(--color-border);
  background-color: var(--color-surface);
  font-size: var(--font-size-h5);
  text-align: center;
  position: relative;
  padding: 1rem 2rem 1rem 1rem;
  color: var(--color-text);
  cursor: pointer;
  transition: 0.3s;
}

.active,
.accordion-button:hover {
  outline: 5px solid var(--color-outline-hover);
  background-color: var(--color-surface-hover);
}

.accordion-button:after {
  content: '\002B'; // Unicode character for "+" sign
  color: var(--color-primary);
  font-weight: bold;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.active:after {
  content: "\2212"; // Unicode character for "-" sign
}

.accordion-panel {
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  margin-block-end: 16px;
  background-color: var(--color-surface);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
