/*---- UTILITIES [core/_utilities.scss] ----*/
/*---- single purpose utilities, text alignment, display, etc ----*/

// Text alignment utilities
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

// Hide an element
.hide {
  display: none !important;
}
