@import "tailwindcss";

@theme inline {
  --color-background: var(--color-bg); /* Maps --background to Tailwind's background colors */
  --color-foreground: var(--color-text); /* Maps --foreground to Tailwind's text colors */
  --font-sans: var(--font-geist-sans); /* Maps --font-geist-sans to Tailwind's sans font */
  --font-mono: var(--font-geist-mono); /* Maps --font-geist-mono to Tailwind's mono font */
}
