---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

type HeroSectionImageProps = {
	image: ImageMetadata;
	imageAlt: string;
};

const { image, imageAlt } = Astro.props as HeroSectionImageProps;
---

<div class="relative w-full aspect-16/9 md:aspect-4/3 rounded-2xl overflow-hidden shadow-2xl">
	<Image
		src={image}
		alt={imageAlt}
		width={640}
		height={640}
		class="block h-full w-full object-cover"
	/>
</div>
